html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@page {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.txt-color-teal {
    color: var(--cor-fonte-teal);
}

.txt-color-gold {
    color: var(--cor-fonte-gold);
}

.txt-color-maroon {
    color: var(--cor-fonte-maroon);
}

:root {
    --txt-color-teal-claro: #2a6b77;
    --txt-color-teal-escuro: #86bfca;
    --txt-color-gold-claro: #9b6d17;
    --txt-color-gold-escuro: #ffcd5c;
    --txt-color-maroon-claro: #942926;
    --txt-color-maroon-escuro: #d27674;
}

html[data-bs-theme="light"] {
    --cor-fonte-teal: var(--txt-color-teal-claro);
    --cor-fonte-gold: var(--txt-color-gold-claro);
    --cor-fonte-maroon: var(--txt-color-maroon-claro);
}

html[data-bs-theme="dark"] {
    --cor-fonte-teal: var(--txt-color-teal-escuro);
    --cor-fonte-gold: var(--txt-color-gold-escuro);
    --cor-fonte-maroon: var(--txt-color-maroon-escuro);
}

.card {
    padding: 10px 10px 10px 10px;
}

.icon-gema {
    background-image: url(../img/gema.png);
    background-color: #bf2f13;
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 5%;
    background-position: center;
    padding: 5px;
    display: inline-block;
}

.icon-cevada {
    background-image: url(../img/cevada.png);
    background-color: #d68f00;
    background-size: contain;
    width: 35px;
    height: 40px;
    border-radius: 5%;
    background-position: center;
    padding: 5px;
    display: inline-block;
}

.icon-ovelha {
    background-image: url(../img/ovelha.png);
    background-color: #bf2f13;
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 5%;
    background-position: center;
    padding: 5px;
    display: inline-block;
}

.bg-header {
    background-color: #4a6da7;
    border-radius: 5px !important;
}

.ui-menu-item .ui-menu-icon {
    display: none;
}

/* Tornando a caixa de seleção dos textos não transparente */
.ui-autocomplete {
    background-color: inherit;
    border: 1px solid #424549; /* Borda */
    padding: 5px; /* Espaçamento interno */
    max-height: 200px; /* Altura máxima */
    overflow-y: auto; /* Rolagem vertical */
    border-radius: 5px;
}

    .ui-autocomplete:focus {
        max-width: 100%;
    }

/* Estilo dos itens do menu de autocomplete */
.ui-menu-item {
    padding: 5px; /* Espaçamento interno */
    cursor: pointer; /* Cursor ao passar por cima */
}

/* Estilo do texto nos itens do menu de autocomplete */
.ui-menu-item-wrapper {
    font-size: 14px; /* Tamanho da fonte */
    color: inherit; /* Cor do texto */
}
.form-control {
    font-size: 16px;
}

@media print {
    @page {
        size: A4; /* DIN A4 standard, Europe */
        margin: 5mm 0 0 0;
    }

    html, body {
        width: 210mm;
        height: 282mm;
        font-size: 12px;
        margin: 0 .5cm 0 2mm;
        padding: 0;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .container {
        display: contents;
    }

    .form-control {
        border: 0;
        overflow: visible;
        font-weight: bold;
        background-color: transparent;
    }

    .bg-header .form-control {
        color: white !important;
    }

    header, .not-print {
        display: none !important;
    }

    .card {
        border: 0;
        background-color: transparent;
        page-break-before: always; /* Force a page break before each card */
    }

    .collapse {
        display: block !important;
    }

        /* Ocultar a div pai */
    .input-ajudante input:placeholder-shown {
        display: none;
    }
        

    /*::-webkit-input-placeholder {*/
        /* WebKit browsers */
        /*visibility: hidden;
    }*/
}
