html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.txt-color-teal {
    color: var(--cor-fonte-teal);
}
.txt-color-gold {
    color: var(--cor-fonte-gold);
}
.txt-color-maroon {
    color: var(--cor-fonte-maroon);
}

:root {
    --txt-color-teal-claro: #2a6b77;
    --txt-color-teal-escuro: #86bfca;
    --txt-color-gold-claro: #9b6d17;
    --txt-color-gold-escuro: #ffcd5c;
    --txt-color-maroon-claro: #942926;
    --txt-color-maroon-escuro: #d27674;
}

html[data-bs-theme="light"] {
    --cor-fonte-teal: var(--txt-color-teal-claro);
    --cor-fonte-gold: var(--txt-color-gold-claro);
    --cor-fonte-maroon: var(--txt-color-maroon-claro);
}

html[data-bs-theme="dark"] {
    --cor-fonte-teal: var(--txt-color-teal-escuro);
    --cor-fonte-gold: var(--txt-color-gold-escuro);
    --cor-fonte-maroon: var(--txt-color-maroon-escuro);
}
.card{
    padding: 10px 10px 10px 10px;
}