@model IEnumerable<Designa.Models.Reuniao>

@{
    ViewData["Title"] = "Reuniões";
}

<h1>Reuniões</h1>

@foreach (var item in Model) {
        <div class="container mt-8">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1>Semana</h1>
                <p>@Html.DisplayFor(modelItem => item.Semana)</p>

                <div class="card">
                    @* <div class="card-header bg-primary text-white">
                        <h2>Programação da Reunião de Meio da Semana</h2>
                    </div> *@
                    <div class="card-body">
                        @foreach (var parte in item.Partes)
                        {
                            <h4 class="@(int.Parse(parte.Numero) <= 3 ? "txt-color-teal" : "txt-color-gold")">
                                @Html.DisplayFor(modelitem => parte.Numero). @Html.DisplayFor(modelitem => parte.Titulo)
                            </h4>
                            <p>...</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
