@model Designa.Models.Publicador

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <select asp-for="Sexo" class="form-control">
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                </select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMenorIdade" class="control-label"></label>
                <select asp-for="EMenorIdade" class="form-control">
                    <option value="0">Não</option>
                    <option value="1">Sim</option>
                </select>
                <span asp-validation-for="EMenorIdade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaiId" class="control-label"></label>
                <select asp-for="PaiId" class="form-control" asp-items="@ViewBag.PaiId">
                    <option value="">Selecione...</option>
                </select>
                <span asp-validation-for="PaiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaeId" class="control-label"></label>
                <select asp-for="MaeId" class="form-control" asp-items="@ViewBag.MaeId">
                    <option value="">Selecione...</option>
                </select>
                <span asp-validation-for="MaeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

