@model IEnumerable<Designa.Models.Raiz>

@{
    ViewData["Title"] = "Index";
}

<h1>Nossa Vida e Ministério Cristão</h1>
<div class="card-group">
@foreach (var item in Model) {
     <div class="card m-2">
         <a href="Reuniao?issui=@item.Issue">
            <img src="@item.PubImage.Url" class="img-fluid rounded-start" alt="@item.PubName">
         </a>
        <div class="card-body">
            <h5 class="card-title">@item.PubName</h5>
        </div>
    </div>
}
</div>