@model IEnumerable<Designa.Models.Publicacao>

@{
    ViewData["Title"] = "Publicações";
}

<h1>Apostila da Reunião Vida e Ministério</h1>
<div class="card-group">
@foreach (var item in Model) {
        <div class="card" style="width: 18rem;">
         <a href="Reuniao?issue=@item.Issue">
            <img src="@item.PubImage.Url" class="img-fluid rounded-start" alt="@item.PubName">
         </a>
        <div class="card-body">
            <h5 class="card-title">@item.PubName</h5>
            <p class="card-text">@item.PeriodoReferencia</p>
                <a href="Reuniao?issue=@item.Issue" class="btn btn-primary">Reuniões</a>
        </div>
    </div>
}
</div>